{% extends 'base.html' %}
{%load static%}
{% block content %}

	{% for product in product%}
		
	<div class="container">
		<div class="image">
	<img src="{{product.imageURL}} " width='100%' height='100%'>
	</div>
	<p id="name">{{product.name}}</p>
	<hr>
	<div class="price">
	<span id="price_label">Price</span><span id="price">${{product.price}}</span>
</div>

    <div class="lower">
    	<button id="addcart" data-product={{product.id}} data-action="add" class="update-cart">ADD TO CART</button>
    	<button id="buynow" >VIEW</button>
    	<p>size <span>30</span><span>,32</span><span>,34</span></p>
    </div>

</div>
{%endfor%}
{% endblock %}