{%extends 'base.html'%}
{%block content%}
{%load static%}
   <div class="cartitem">

<table>
    <tr>
    <th class="long"></th>
    <th class="long"><strong>Item</strong></th>
    <th><strong>Price</strong></th>
    <th><strong>Quantity</strong></th>
    <th><strong>Total</strong></th>
    
    </tr>
    {% for item in items%}
    <tr>
        <td><img src="{{item.product.imageURL }}" height="200px" width="50px">
        </td>
        <td>{{item.product.name}}</td>
        <td>${{item.product.price}}</td>
        <td>{{item.quantity}}</td>
        <td>${{item.orderitem_total}}</td>
    </tr>
    {%endfor%}
</table>
</div>

<div class="totalcartitems">
    <span id="totalleft"><Strong>Items:{{order.cart_items}}</Strong></span>
    <span id="totalright"><Strong>Price:${{order.cart_total}}</Strong></span>
</div>

{%endblock%}