{%extends 'base.html'%}
    {%block content%}
    <div>
        cart-items:{{order.cart_items}}
        <form id="form" method="POST">{%csrf_token%}
            Name:<input type="text" name="name" required>
            <br>
            <br>
            State:<input type="text" name="state" required>
            <br>
            <br>
            pincode:<input type="text" name="pincode" required>
            <br>
            <br>
            city:<input type="text" name="city" required>
            <br>
            <br>
            Address:<input type="text" name="address" required>
            <div class="submit" id="submitinfo">
                <input type="submit">
            </div>
        </form>
        <div id="paymentinfo" class="hidden">
            <small>paypal options</small>
            <div id="paypal-button-container">

            </div>
        </div>

        <script src="https://www.paypal.com/sdk/js?client-id=ATuHQjJWRslWmKrq-JyTBWcvJEGoA8eVh27fXqNKe4_PaAycgWFx2nmTi5S9bUfR8gdkXeHMtjS-AoMz&currency=USD"></script>
            
               
                
    <script>
      var total='{{order.cart_total}}';
      paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value:parseFloat(total).toFixed(2)
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
           processorder()
          });
        }
      }).render('#paypal-button-container'); 
    </script>


    <script type="text/javascript">
        var form=document.getElementById('form');
        form.addEventListener("submit",function(e){
            e.preventDefault();
            document.getElementById('submitinfo').classList.add('hidden');
            document.getElementById('paymentinfo').classList.remove('hidden');
        
        });


        

            function processorder()
            {
                var shippinginfo={
                
                    'name':form.name.value,
                    'state':form.state.value,
                    'zipcode':form.pincode.value,
                    'city':form.city.value,
                    'address':form.address.value,
    
                }
                var url="/process_order/";
	fetch(url,{
		method:"POST",
		headers:{
			'Content-Type': 'application/json',
			'X-CSRFToken':csrftoken
		},
		body:JSON.stringify({'total':total,'shippinginfo':shippinginfo})
	})
	.then((response)=>{
		return response.json()
	})
	.then((data)=>{
        window.location.href = "{% url 'apparels' %}";
	
	})

            }
    </script>
    {%endblock%}
    
