<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>
    <form action="register/" method="POST">{%csrf_token%}
        firstname:<input type="text" name='first_name' required>
        <br>
        <br>
        lastname:<input type="text" name="last_name" required>
        <br>
        <br>
        password:<input type="password" name='password' required>
        <br>
        <br>

        email:<input type="email" name="email" required>
        <br>
        <br>
        username:<input type="text" name="username" required>
        <br>
        <br>
        <input type="submit">
    

    </form>
</body>
</html>